body {
  background-color: #b2ffff;
  font-family: system-ui, sans-serif;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cell {
  border-radius: 8px;
  background-color: #4fffb0;
  border: 1px solid#00308F;
}

h1 {
  color: #00563b;
  margin-bottom: 0;
  margin-top: 0;
}
.snakeHead {
  background-color: #ffff00;

  border-radius: 8px;
  border: 1px solid#00308F;
}

.snakeTail {
  background-color: #fea310;
  border-radius: 8px;
  border: 1px solid#00308F;
}

.food {
  background-color: #008000;
  border-radius: 8px;
  border: 1px solid#00308F;
}

.button {
  font-size: 18px;
  background-color: #ff033e;
  border-radius: 8px;
  border-color: #ff033e;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#message {
  color: #c80815;
}

#paragraph {
  border: 2px solid #00308f;
  padding: 10px;
  border-radius: 8px;
  background-color: #ecf0f1;
  color: #2c3e50;
  max-width: 800px;
  text-align: left;
  margin-top: 0;
}
