body {
  background-color: #b4e7ce;
  font-family: system-ui, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cell {
  background-color: #fff;
  border: 1px solid black;
}

.snakeHead {
  background-color: #b0228c;
}

#reset-button {
  color: green;
}
.snakeTail {
  background-color: #e56b70;
}

.food {
  background-color: #59a96a;
}

.gameover {
  background-color: #ff1b1c;
}
